* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'inter', sans-serif;
}



.navbar {
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: .1rem solid #918E9B;
}

.dark {
    background-color: #282D35 !important;
    color: #fff;
}

.logoBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 2.89rem;
    animation: rotation ease-in-out infinite 5s;
}

.logo-heading {
    font-size: 2.225rem;
    font-weight: 700;
    margin-left: .7rem;
    color: #61DAFB;
}

@keyframes rotation {
    0% { 
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.main-section {
    background: url('./images/react-icon-large.png') no-repeat;
    background-color: #fff;
    background-position: right 75%;
    background-size: 12rem;
    padding: 5rem 2rem 6rem 2rem;
}



.heading-primary {
    margin-top: 0;
    font-size: 3.9rem;
    color: #282D35;
}

.text-dark {
    color: #fff !important;
}

.main-item {
    font-size: 1.6rem;
    color: #282D35;
    margin: 1rem 0;
}


.main-item::marker {
    color: #61DAFB;
    font-size: 2.5rem;
}

/* Dark mode toggle */

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
    transition: all .2s;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
    transition: all .2s;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}